<!DOCTYPE html>
<html lang="ko">
<head>
    <title>My BBS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/">
            <img src="/img/hs.jpg" alt="호서직업능력개발원"
                style="height: 40px; margin-left: 50px; margin-right: 100px;">
        </a>
        <ul class="nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-home"></i>홈</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">로그아웃</a>
            </li>
        </ul>
        
        <div class="input-group col-3">
          <input type="text" class="form-control" >
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">찾기</button>
          </span>
        </div>
        <div class="navbar-text fixed-right" id="weather">
            홍길동님 반갑습니다.&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fas fa-cloud-sun"></i> 20&deg;C
        </div>
        </div>
    </nav>
    <li class="media mt-4" id="comment-{{id}}">
        <img src="https://api.adorable.io/avatars/64/{{author}}.png" class="mr-3" alt="avata">
        <div class="media-body">
          <!-- 댓글 -->
          <h5 class="mt-0 mb-1">{{author}}
            <small>
              <!-- 부트스트랩 collapse 활용, https://getbootstrap.com/docs/4.5/components/collapse/ -->
              <a href="#" class="comment-edit-btn" data-toggle="collapse" data-target=".multi-collapse-{{id}}">수정</a>
            </small>
          </h5>
          <!-- 보기 모드 -->
          <p class="collapse multi-collapse-{{id}} show">{{content}}</p>
          <!-- 수정 모드 -->
          <form class="collapse multi-collapse-{{id}}">
            <div class="form-group">
              <textarea class="form-control" id="comment-content" rows="3">{{content}}</textarea>
            </div>
            <input type="hidden" id="comment-id" value="{{id}}">
            <input type="hidden" id="comment-author" value="{{author}}">
            <button type="button" class="btn btn-info comment-update-btn">수정 완료</button>

          </form>

          <div class="d-flex justify-content-between">
            <div>
               left
            </div>
            <div>
               right
            </div>
       </div>
        </div>
      </li>
    
    <div class="container">
        <div class="commentList"></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center fixed-bottom">
        <span class="navbar-text">
            Copyright &copy; 2020 Hoseo Institute of Big Data
        </span>
    </nav>
</body>
</html>